<!--The content below is only a placeholder and can be replaced.-->
<div class="header-inicio-calendario">
  {{ title }}
  <h1>
    {{message}}
  </h1>
</div>
<div class="formPost">
  <form [formGroup]="postForm" (ngSubmit)="createPost()">
    <label>Titulo:</label>
    <input type="text" id="title" name="title" formControlName="title" />
    <div *ngIf="!Title?.valid && (Title?.dirty ||Title?.touched)">
      <div [hidden]="!Title.errors.required">
        Titulo es requerido
      </div>
      <div [hidden]="!Title.errors.minlength">
        Mínimo 10 caracteres
      </div>
    </div>
    <label>Contenido:</label>
    <input type="text" id="content" name="content" formControlName="content" />
    <div *ngIf="!Content?.valid && (Content?.dirty ||Content?.touched)">
      <div [hidden]="!Content.errors.required">
        Contenido es requerido
      </div>
      <div [hidden]="!Content.errors.maxlength">
        Máximo 10 caracteres
      </div>
    </div>
    <p>
      <button type="submit" [disabled]="!postForm.valid">Submit</button>
    </p>
  </form>
</div>
<button (click)="callGetAll();">traer todo</button>
<div *ngFor="let post of posts; let count=index;" class="content">
  <p>
    no. {{count+1}}
  </p>
  <p>
    <b>
      {{post._id}}
    </b>
  </p>
  <p>
    {{post.title | uppercase}}
  </p>
  <p>
    {{post.content}}
  </p>
</div>
<router-outlet></router-outlet>
